.control{
margin-right: 15rem;
}
#image{
    margin-left: 30rem;
    padding-bottom: 15px;
    width:200px;
    length:200px;
}
#location{
    padding:30px;
}
#Date{
    margin-left: 1rem;
}
#search{
    margin-top: 30px;
    margin-left:270px;
}

